<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>name</key>
        <string>app-Prefs</string>
        <key>settings</key>
        <array>
            <dict>
                <key>action</key>
                <string>alipay://</string>
                <key>isDeleted</key>
                <false/>
                <key>name</key>
                <string>支付宝</string>
                <key>sortNum</key>
                <integer>0</integer>
                <key>type</key>
                <string>custom</string>
            </dict>
            <dict>
                <key>action</key>
                <string>orpheuswidget://recognize</string>
                <key>isDeleted</key>
                <false/>
                <key>name</key>
                <string>网易云音乐听歌识曲</string>
                <key>sortNum</key>
                <integer>1</integer>
                <key>type</key>
                <string>custom</string>
            </dict>
            <dict>
                <key>action</key>
                <string>sinaweibo://qrcode</string>
                <key>isDeleted</key>
                <false/>
                <key>name</key>
                <string>微博扫二维码</string>
                <key>sortNum</key>
                <integer>2</integer>
                <key>type</key>
                <string>custom</string>
            </dict>
            <dict>
                <key>action</key>
                <string>alipayqr://platformapi/startapp?saId=10000007</string>
                <key>isDeleted</key>
                <false/>
                <key>name</key>
                <string>支付宝扫二维码</string>
                <key>sortNum</key>
                <integer>3</integer>
                <key>type</key>
                <string>custom</string>
            </dict>
            <dict>
                <key>action</key>
                <string>weixin://scanqrcode</string>
                <key>isDeleted</key>
                <false/>
                <key>name</key>
                <string>微信扫二维码</string>
                <key>sortNum</key>
                <integer>4</integer>
                <key>type</key>
                <string>custom</string>
            </dict>
            <dict>
                <key>action</key>
                <string>twitter://</string>
                <key>isDeleted</key>
                <false/>
                <key>name</key>
                <string>Twitter</string>
                <key>sortNum</key>
                <integer>5</integer>
                <key>type</key>
                <string>custom</string>
            </dict>
            <dict>
                <key>action</key>
                <string>instagram://</string>
                <key>isDeleted</key>
                <false/>
                <key>name</key>
                <string>instagram</string>
                <key>sortNum</key>
                <integer>6</integer>
                <key>type</key>
                <string>custom</string>
            </dict>
            <dict>
                <key>action</key>
                <string>sinaweibo://</string>
                <key>isDeleted</key>
                <false/>
                <key>name</key>
                <string>新浪微博</string>
                <key>sortNum</key>
                <integer>7</integer>
                <key>type</key>
                <string>custom</string>
            </dict>
            <dict>
                <key>action</key>
                <string>mqq://</string>
                <key>isDeleted</key>
                <false/>
                <key>name</key>
                <string>手机QQ</string>
                <key>sortNum</key>
                <integer>8</integer>
                <key>type</key>
                <string>custom</string>
            </dict>
            <dict>
                <key>action</key>
                <string>weixin://</string>
                <key>isDeleted</key>
                <false/>
                <key>name</key>
                <string>微信</string>
                <key>sortNum</key>
                <integer>9</integer>
                <key>type</key>
                <string>custom</string>
            </dict>
            <dict>
                <key>action</key>
                <string>Prefs:root=BATTERY_USAGE</string>
                <key>isDeleted</key>
                <true/>
                <key>name</key>
                <string>Battery</string>
                <key>sortNum</key>
                <integer>-1</integer>
                <key>type</key>
                <string>system</string>
            </dict>
            <dict>
                <key>action</key>
                <string>Prefs:root=General&amp;path=SOFTWARE_UPDATE_LINK</string>
                <key>isDeleted</key>
                <true/>
                <key>name</key>
                <string>Software Update</string>
                <key>sortNum</key>
                <integer>-1</integer>
                <key>type</key>
                <string>system</string>
            </dict>
            <dict>
                <key>action</key>
                <string>Prefs:root=Sounds</string>
                <key>isDeleted</key>
                <true/>
                <key>name</key>
                <string>Sounds</string>
                <key>sortNum</key>
                <integer>-1</integer>
                <key>type</key>
                <string>system</string>
            </dict>
            <dict>
                <key>action</key>
                <string>Prefs:root=General&amp;path=ManagedConfigurationList</string>
                <key>isDeleted</key>
                <true/>
                <key>name</key>
                <string>Profiles&amp;Device Management</string>
                <key>sortNum</key>
                <integer>-1</integer>
                <key>type</key>
                <string>system</string>
            </dict>
            <dict>
                <key>action</key>
                <string>Prefs:root=General&amp;path=About</string>
                <key>isDeleted</key>
                <true/>
                <key>name</key>
                <string>About</string>
                <key>sortNum</key>
                <integer>-1</integer>
                <key>type</key>
                <string>system</string>
            </dict>
            <dict>
                <key>action</key>
                <string>Prefs:root=NOTES</string>
                <key>isDeleted</key>
                <true/>
                <key>name</key>
                <string>Notes</string>
                <key>sortNum</key>
                <integer>-1</integer>
                <key>type</key>
                <string>system</string>
            </dict>
            <dict>
                <key>action</key>
                <string>Prefs:root=STORE</string>
                <key>isDeleted</key>
                <true/>
                <key>name</key>
                <string>iTunes&amp;App Stores</string>
                <key>sortNum</key>
                <integer>-1</integer>
                <key>type</key>
                <string>system</string>
            </dict>
            <dict>
                <key>action</key>
                <string>Prefs:root=General&amp;path=Keyboard</string>
                <key>isDeleted</key>
                <true/>
                <key>name</key>
                <string>Keyboards</string>
                <key>sortNum</key>
                <integer>-1</integer>
                <key>type</key>
                <string>system</string>
            </dict>
            <dict>
                <key>action</key>
                <string>Prefs:root=MUSIC</string>
                <key>isDeleted</key>
                <true/>
                <key>name</key>
                <string>Music</string>
                <key>sortNum</key>
                <integer>-1</integer>
                <key>type</key>
                <string>system</string>
            </dict>
            <dict>
                <key>action</key>
                <string>Prefs:root=Privacy&amp;path=LOCATION</string>
                <key>isDeleted</key>
                <true/>
                <key>name</key>
                <string>Location Services</string>
                <key>sortNum</key>
                <integer>-1</integer>
                <key>type</key>
                <string>system</string>
            </dict>
            <dict>
                <key>action</key>
                <string>Prefs:root=DISPLAY</string>
                <key>isDeleted</key>
                <true/>
                <key>name</key>
                <string>Display&amp;Brightness</string>
                <key>sortNum</key>
                <integer>-1</integer>
                <key>type</key>
                <string>system</string>
            </dict>
            <dict>
                <key>action</key>
                <string>Prefs:root=General&amp;path=DATE_AND_TIME</string>
                <key>isDeleted</key>
                <true/>
                <key>name</key>
                <string>Date &amp; Time</string>
                <key>sortNum</key>
                <integer>-1</integer>
                <key>type</key>
                <string>system</string>
            </dict>
            <dict>
                <key>action</key>
                <string>Prefs:root=WIFI</string>
                <key>isDeleted</key>
                <true/>
                <key>name</key>
                <string>WLAN</string>
                <key>sortNum</key>
                <integer>-1</integer>
                <key>type</key>
                <string>system</string>
            </dict>
            <dict>
                <key>action</key>
                <string>Prefs:root=General&amp;path=Reset</string>
                <key>isDeleted</key>
                <true/>
                <key>name</key>
                <string>Reset</string>
                <key>sortNum</key>
                <integer>-1</integer>
                <key>type</key>
                <string>system</string>
            </dict>
            <dict>
                <key>action</key>
                <string>Prefs:root=MOBILE_DATA_SETTINGS_ID</string>
                <key>isDeleted</key>
                <true/>
                <key>name</key>
                <string>Mobile Data</string>
                <key>sortNum</key>
                <integer>-1</integer>
                <key>type</key>
                <string>system</string>
            </dict>
            <dict>
                <key>action</key>
                <string>Prefs:root=Wallpaper</string>
                <key>isDeleted</key>
                <true/>
                <key>name</key>
                <string>Wallpaper</string>
                <key>sortNum</key>
                <integer>-1</integer>
                <key>type</key>
                <string>system</string>
            </dict>
            <dict>
                <key>action</key>
                <string>Prefs:root=NOTIFICATIONS_ID</string>
                <key>isDeleted</key>
                <true/>
                <key>name</key>
                <string>Notifications</string>
                <key>sortNum</key>
                <integer>-1</integer>
                <key>type</key>
                <string>system</string>
            </dict>
            <dict>
                <key>action</key>
                <string>Prefs:root=General&amp;path=INTERNATIONAL</string>
                <key>isDeleted</key>
                <true/>
                <key>name</key>
                <string>Language&amp;Regin</string>
                <key>sortNum</key>
                <integer>-1</integer>
                <key>type</key>
                <string>system</string>
            </dict>
            <dict>
                <key>action</key>
                <string>Prefs:root=General</string>
                <key>isDeleted</key>
                <true/>
                <key>name</key>
                <string>General</string>
                <key>sortNum</key>
                <integer>-1</integer>
                <key>type</key>
                <string>system</string>
            </dict>
            <dict>
                <key>action</key>
                <string>Prefs:root=Bluetooth</string>
                <key>isDeleted</key>
                <true/>
                <key>name</key>
                <string>Bluetooth</string>
                <key>sortNum</key>
                <integer>-1</integer>
                <key>type</key>
                <string>system</string>
            </dict>
            <dict>
                <key>action</key>
                <string>Prefs:root=General&amp;path=VPN</string>
                <key>isDeleted</key>
                <true/>
                <key>name</key>
                <string>VPN</string>
                <key>sortNum</key>
                <integer>-1</integer>
                <key>type</key>
                <string>system</string>
            </dict>
            <dict>
                <key>action</key>
                <string>Prefs:root=General&amp;path=ACCESSIBILITY</string>
                <key>isDeleted</key>
                <true/>
                <key>name</key>
                <string>Accessibility</string>
                <key>sortNum</key>
                <integer>-1</integer>
                <key>type</key>
                <string>system</string>
            </dict>
            <dict>
                <key>action</key>
                <string>Prefs:root=Phone</string>
                <key>isDeleted</key>
                <true/>
                <key>name</key>
                <string>Phone</string>
                <key>sortNum</key>
                <integer>-1</integer>
                <key>type</key>
                <string>system</string>
            </dict>
            <dict>
                <key>action</key>
                <string>Prefs:root=INTERNET_TETHERING</string>
                <key>isDeleted</key>
                <true/>
                <key>name</key>
                <string>Personal Hotspot</string>
                <key>sortNum</key>
                <integer>-1</integer>
                <key>type</key>
                <string>system</string>
            </dict>
            <dict>
                <key>action</key>
                <string>Prefs:root=Photos</string>
                <key>isDeleted</key>
                <true/>
                <key>name</key>
                <string>Photos&amp;Camera</string>
                <key>sortNum</key>
                <integer>-1</integer>
                <key>type</key>
                <string>system</string>
            </dict>
            <dict>
                <key>action</key>
                <string>Prefs:root=CASTLE&amp;path=STORAGE_AND_BACKUP</string>
                <key>isDeleted</key>
                <true/>
                <key>name</key>
                <string>iCloud Storage</string>
                <key>sortNum</key>
                <integer>-1</integer>
                <key>type</key>
                <string>system</string>
            </dict>
            <dict>
                <key>action</key>
                <string>Prefs:root=General&amp;path=STORAGE_ICLOUD_USAGE/DEVICE_STORAGE</string>
                <key>isDeleted</key>
                <true/>
                <key>name</key>
                <string>Storage</string>
                <key>sortNum</key>
                <integer>-1</integer>
                <key>type</key>
                <string>system</string>
            </dict>
            <dict>
                <key>action</key>
                <string>Prefs:root=CASTLE</string>
                <key>isDeleted</key>
                <true/>
                <key>name</key>
                <string>iCloud</string>
                <key>sortNum</key>
                <integer>-1</integer>
                <key>type</key>
                <string>system</string>
            </dict>
        </array>
    </dict>
</plist>
